{{#if current}}
{{#if left}}<li class="currentTime" id="current" data-sp-innerHTML="currentLeft">{{this}}</li>
{{else}}<li class="currentTime" data-sp-innerHTML="currentRight">{{this}}</li>{{/if}}
{{else}}
<li>{{this}}</li>
{{/if}}
