{{#if current ~}}
{{#if left ~}}<li class="currentTime" id="current" data-date="{{date}}" rv-text="currentLeft">{{this}}</li>
{{else ~}}<li class="currentTime" data-date="{{date}}" rv-text="currentRight">{{this}}</li>{{~/if}}
{{else ~}}
<li>{{this}}</li>
{{~/if}}
